.container{
    background-color: #090F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 83px;
}
.titleContainer{
    display: flex;
    place-items: center;
    gap: 13px;
}
.titleContainer h1{
    font-size: 32px;
    margin: 0;
}
.titleContainer div{
    font-size: 13px;
}
.status{
    display: flex;
    align-items: center;
    gap: 9px;
}
.status div{
    font-size: 13px;
}
.state{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

.authContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.authButton {
    background-color: #1a202c; /* Darker shade for buttons */
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* For Link components */
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.authButton:hover {
    background-color: #2d3748; /* Slightly lighter on hover */
}

.mainContent {
    padding: 0 80px;
}